<div class="container-fluid p-0 m-0">
    <div class="col p-0 m-0">        
        
        <div class="titulo-objeto mb-5 mt-5 padding-horizontal">
           <div class="d-flex">
            <img 
            src="images/TARJETA.png" 
            alt="Tarjeta"             
            >
            <h1>Tarjeta Visa</h1>
           </div>
            <span>RESUMEN DE PAGO</span>            
        </div>
        
        <div class="padding-horizontal">            
            <div class="row g-0 d-flex justify-content-center">
                
<!--                 <div class="col-12 col-lg-8 bg-success">
                    <h1>Contenido</h1>
                </div> -->

            </div>
        </div>

    </div>
</div>