<div class="container-fluid p-0 m-0 overflow-x-hidden" >
    <div class="col p-0 m-0">
      <div class="div-encabezado">
        <div class="titulo-objeto mb-5">
            <h1>MÁS CERCA DE TI</h1>
            <span>SEDES</span>            
        </div>
      </div>

      <hr class="separador">

      <div class="div-planes">
        <div class="">
            <app-carrusel-sede />
          </div>
      </div>
      
      <hr class="separador">
      
      <div>
        <div #mapa class="mapa"></div>
      </div>

      <hr class="separador">
      
      <div class="mt-5">
        <app-contacto-form />
      </div>
      <app-footer></app-footer>
    </div>
  </div>