<div class="container-fluid p-0 m-0">
    <div class="col p-0 m-0">
      <div class="div-encabezado">
        <div class="titulo-objeto mb-5">
            <h1>NOTICIAS FORCE GYM</h1>
            <span>BLOG</span>            
        </div>
      </div>

      <hr class="separador">

      <div class="row p-0 m-0 div-noticias pb-3">
        <div class="m-0 p-0 mb-5 div-posts">
            <app-post [pathImg]="'images/entrenamiento.png'" [fecha]="'20/08/2024'" [tituloPost]="'Entrenamiento a diario'" [postId]="1"/>
            <app-post [pathImg]="'images/entrenamiento.png'" [fecha]="'15/07/2024'" [tituloPost]="'Vida Saludable'" [postId]="1"/>
            <app-post [pathImg]="'images/entrenamiento.png'" [fecha]="'09/06/2024'" [tituloPost]="'Cardio y sus beneficios'" [postId]="1"/>
            <app-post [pathImg]="'images/entrenamiento.png'" [fecha]="'20/08/2024'" [tituloPost]="'Entrenamiento a diario'" [postId]="1"/>
            <app-post [pathImg]="'images/entrenamiento.png'" [fecha]="'15/07/2024'" [tituloPost]="'Vida Saludable'" [postId]="1"/>
            <app-post [pathImg]="'images/entrenamiento.png'" [fecha]="'09/06/2024'" [tituloPost]="'Cardio y sus beneficios'" [postId]="1"/>
        </div>
      </div>

      <hr class="separador">
      
      <app-footer></app-footer>
    </div>
  </div>