<div class="container-fluid p-0 m-0">
    <div class="col p-0 m-0">
      <div class="div-encabezado">
        <div class="titulo-objeto mb-5">
            <h1>NOTICIAS FORCE GYM</h1>
            <span>BLOG</span>            
        </div>
      </div>

      <hr class="separador">

      <div class="row p-0 m-0 div-noticias pb-3">
        <div class="m-0 p-0 mb-5 div-posts" id="pagina-noticias-lista-posts">
          <ng-container *ngFor="let post of posts;">
            <app-post 
              [pathImg]="post.imgPath" 
              [fecha]="post.fecha" 
              [tituloPost]="post.titulo" 
              [postId]="post.id">
            </app-post>
          </ng-container>  
        </div>
      </div>

      <hr class="separador">
      
      <app-footer></app-footer>
    </div>
  </div>