<div class="container-fluid p-0 m-0">
    <div class="col p-0 m-0">
   <!--    <div class="div-encabezado">
        <div class="titulo-objeto mb-5">
            <h1>BUSCA TU PLAN PERFECTO</h1>
            <span>PLANES</span>            
        </div>
      </div>

      <hr class="separador"> -->
    <div class="titulo-objeto mb-3">
        <h1>Elige tu <span style="color: var(--color-azul);">PLAN</span> IDEAL</h1>
    </div>

    <div class="div-contenido-membresia">
        <div class="padding-pagina">
            <div class="d-flex justify-content-center">
                <app-planes [booComprarMembresia]="true"/>
            </div>
            
        </div>
    </div>
      

    </div>
</div>