<div id="carouselLeyendaAutoplaying" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row sede-contenedor">
                    <div class="col-12 col-lg-6 sede-info">
                        <div class="titulo-objeto mt-1 mt-lg-5 mb-3">
                            <h1>SEDE ALBORADA</h1>
                            <span>HORARIOS</span>            
                        </div>
                        <div class="lista-horarios-sede">
                            <div class="lista-horario-item">
                                <div class="reloj">
                                    <img src="images/hora.png" alt="Horario">
                                </div>
                                <div class="detalles-horaios-sede">
                                    <h3>Lunes a viernes</h3>
                                    <h3>08:00:00 - 18:00:00</h3>
                                </div>
                            </div>
                            <div class="lista-horario-item">
                                <div class="reloj">
                                    <img src="images/hora.png" alt="Horario">
                                </div>
                                <div class="detalles-horaios-sede">
                                    <h3>Sábados</h3>
                                    <h3>07:00:00 - 16:00:00</h3>
                                </div>
                            </div>
                            <div class="lista-horario-item">
                                <div class="reloj">
                                    <img src="images/hora.png" alt="Horario">
                                </div>
                                <div class="detalles-horaios-sede">
                                    <h3>Domingos</h3>
                                    <h3>08:00:00 - 16:00:00</h3>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 derecha-col">
                        <div class="div-imagen-sede">
                            <div class="contenedor-imagen">
                                <img src="images/gym01.png" alt="Entrenamiento" class="imagen-carusel">
                            </div>
                            <div class="ubicacion-imagen">
                                <img src="images/icon001.png" alt="Ubicacion" >
                            </div>
                            <div class="caption-imagen">
                                <h2>ALBORADA</h2>
                            </div>
                        </div>
                        <div class="nota-foto-sede">
                            <p>Primero de Mayo y Los Ríos, <br>Guayaquil, Ecuador</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row sede-contenedor">
                    <div class="col-12 col-lg-6 sede-info">
                        <div class="titulo-objeto mt-5 mb-3">
                            <h1>SEDE CENTRO</h1>
                            <span>HORARIOS</span>            
                        </div>
                        <div class="lista-horarios-sede">
                            <div class="lista-horario-item">
                                <div class="reloj">
                                    <img src="images/hora.png" alt="Horario">
                                </div>
                                <div class="detalles-horaios-sede">
                                    <h3>Lunes a viernes</h3>
                                    <h3>08:00:00 - 18:00:00</h3>
                                </div>
                            </div>
                            <div class="lista-horario-item">
                                <div class="reloj">
                                    <img src="images/hora.png" alt="Horario">
                                </div>
                                <div class="detalles-horaios-sede">
                                    <h3>Sábados</h3>
                                    <h3>07:00:00 - 16:00:00</h3>
                                </div>
                            </div>
                            <div class="lista-horario-item">
                                <div class="reloj">
                                    <img src="images/hora.png" alt="Horario">
                                </div>
                                <div class="detalles-horaios-sede">
                                    <h3>Domingos</h3>
                                    <h3>08:00:00 - 16:00:00</h3>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 derecha-col">
                        <div class="div-imagen-sede">
                            <div class="contenedor-imagen">
                                <img src="images/gym02.png" alt="Entrenamiento" class="imagen-carusel">
                            </div>
                            <div class="ubicacion-imagen">
                                <img src="images/icon001.png" alt="Ubicacion" >
                            </div>
                            <div class="caption-imagen">
                                <h2>CENTRO</h2>
                            </div>
                        </div>
                        <div class="nota-foto-sede">
                            <p>Nueve de Octubre y Huncavilca,<br> #local 28</p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row sede-contenedor">
                    <div class="col-12 col-lg-6 sede-info">
                        <div class="titulo-objeto mt-5 mb-3">
                            <h1>SEDE SUR</h1>
                            <span>HORARIOS</span>            
                        </div>
                        <div class="lista-horarios-sede">
                            <div class="lista-horario-item">
                                <div class="reloj">
                                    <img src="images/hora.png" alt="Horario">
                                </div>
                                <div class="detalles-horaios-sede">
                                    <h3>Lunes a viernes</h3>
                                    <h3>08:00:00 - 18:00:00</h3>
                                </div>
                            </div>
                            <div class="lista-horario-item">
                                <div class="reloj">
                                    <img src="images/hora.png" alt="Horario">
                                </div>
                                <div class="detalles-horaios-sede">
                                    <h3>Sábados</h3>
                                    <h3>07:00:00 - 16:00:00</h3>
                                </div>
                            </div>
                            <div class="lista-horario-item">
                                <div class="reloj">
                                    <img src="images/hora.png" alt="Horario">
                                </div>
                                <div class="detalles-horaios-sede">
                                    <h3>Domingos</h3>
                                    <h3>08:00:00 - 16:00:00</h3>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 derecha-col">
                        <div class="div-imagen-sede">
                            <div class="contenedor-imagen">
                                <img src="images/gym03.png" alt="Entrenamiento" class="imagen-carusel">
                            </div>
                            <div class="ubicacion-imagen">
                                <img src="images/icon001.png" alt="Ubicacion" >
                            </div>
                            <div class="caption-imagen">
                                <h2>SUR</h2>
                            </div>
                        </div>
                        <div class="nota-foto-sede">
                            <p>Primero de Mayo y Los Ríos,<br> Guayaquil, Ecuador</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLeyendaAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLeyendaAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- HORARIO  ---------------------------------------------------------------------------------->
<div class="div-horario">
    <div class="titulo-objeto horario mb-3">
        <span>HORARIOS DE CLASES</span>            
    </div>

    <div class="lista-servicios">
        <h3 class="activo">TRAINNING</h3>
        <h3>STEPBOXING</h3>
        <h3>BAILOTERAPIA</h3>
        <h3>INTENSE BIKE</h3>
    </div>
    <div class="mt-5">
        <app-horario-gym />
    </div>
</div>