<div class="container-fluid p-0 m-0">
    <div class="col p-0 m-0">
      <div class="row p-0 m-0 div-planes">
        <div class="padding-pagina">
            <div class="px-5">
                <div class="titulo-frase">
                    <h1>
                        "TRANSFORMA TU VIDA,
                    </h1>
                    <h1>
                        UN PASO A LA VEZ:
                    </h1>
                    <h1>
                        ¡COMIENZA TU VIAJE
                    </h1>
                    <h1>
                        FITNESS HOY!"
                    </h1>
                </div>
                <div class="pt-3">
                    <button class="inscribete m-0">¡INSCRÍBETE!</button>
                </div>
            </div>
            <div>
                <div class="tarjetas">
                    <div class="plan-card">
                        <div class="espacio"></div>
                        <div class="px-5 contenido-card">
                            <div class="id-plan"><span>1</span></div>
                            <div class="valor pt-4">
                                <div class="iva pe-3">+IVA</div>
                                <div class="precio">$26.87</div>
                                <div class="detalle-precio">
                                    <div>Débito</div>
                                    <div>Automático mensual</div>
                                </div>
                            </div>
                            
                            
                            <h3>PLAN PREMIUM</h3>
                            <h4>Crédito o Débito</h4>
                            <ul>
                              <li>Acceso a 1 gimnasio</li>
                              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
                              <li>Acceso a todas las clases y áreas</li>
                              <li class="li-horario">Horario libre de Ingreso</li>
                              <li>Elimina tu Plan cuando desees</li>
                              <li>Parqueo GRATIS</li>
                            </ul>
                            <button>¡INSCRÍBETE!</button>
                        </div>
                    </div>
                    
                    <div class="plan-card">
                        <div class="espacio"></div>
                        <div class="px-5 contenido-card">
                            <div class="id-plan"><span>1</span></div>
                            <div class="valor pt-4">
                                <div class="iva pe-3">+IVA</div>
                                <div class="precio">$26.87</div>
                                <div class="detalle-precio">
                                    <div>Débito</div>
                                    <div>Automático mensual</div>
                                </div>
                            </div>
                            
                            
                            <h3>PLAN PREMIUM</h3>
                            <h4>Crédito o Débito</h4>
                            <ul>
                              <li>Acceso a 1 gimnasio</li>
                              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
                              <li>Acceso a todas las clases y áreas</li>
                              <li class="li-horario">Horario libre de Ingreso</li>
                              <li>Elimina tu Plan cuando desees</li>
                              <li>Parqueo GRATIS</li>
                            </ul>
                            <button>¡INSCRÍBETE!</button>
                        </div>
                    </div>
                    
                    <div class="plan-card">
                        <div class="espacio"></div>
                        <div class="px-5 contenido-card">
                            <div class="id-plan"><span>1</span></div>
                            <div class="valor pt-4">
                                <div class="iva pe-3">+IVA</div>
                                <div class="precio">$26.87</div>
                                <div class="detalle-precio">
                                    <div>Débito</div>
                                    <div>Automático mensual</div>
                                </div>
                            </div>
                            
                            
                            <h3>PLAN PREMIUM</h3>
                            <h4>Crédito o Débito</h4>
                            <ul>
                              <li>Acceso a 1 gimnasio</li>
                              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
                              <li>Acceso a todas las clases y áreas</li>
                              <li class="li-horario">Horario libre de Ingreso</li>
                              <li>Elimina tu Plan cuando desees</li>
                              <li>Parqueo GRATIS</li>
                            </ul>
                            <button>¡INSCRÍBETE!</button>
                        </div>
                    </div>
                    
                    <div class="plan-card">
                        <div class="espacio"></div>
                        <div class="px-5 contenido-card">
                            <div class="id-plan"><span>1</span></div>
                            <div class="valor pt-4">
                                <div class="iva pe-3">+IVA</div>
                                <div class="precio">$26.87</div>
                                <div class="detalle-precio">
                                    <div>Débito</div>
                                    <div>Automático mensual</div>
                                </div>
                            </div>
                            
                            
                            <h3>PLAN PREMIUM</h3>
                            <h4>Crédito o Débito</h4>
                            <ul>
                              <li>Acceso a 1 gimnasio</li>
                              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
                              <li>Acceso a todas las clases y áreas</li>
                              <li class="li-horario">Horario libre de Ingreso</li>
                              <li>Elimina tu Plan cuando desees</li>
                              <li>Parqueo GRATIS</li>
                            </ul>
                            <button>¡INSCRÍBETE!</button>
                        </div>
                    </div>
                    

                </div>
                  
            </div>
            <div>
                subtexto
            </div>
        </div>
      </div>      
    </div>
  </div>