<div class="container-fluid p-0 m-0" class="overflow-x-hidden">
    <div class="col p-0 m-0">
      <div class="row p-0 m-0 div-planes">
        <div class="padding-pagina">
            <div class="p-1 px-lg-5">
                <div class="titulo-frase">
                    <h1>
                        "TRANSFORMA TU VIDA,<br>
                        UN PASO A LA VEZ:<br>
                        ¡COMIENZA TU VIAJE<br>
                        FITNESS HOY!"
                    </h1>
                </div>
                <div class="pt-1 pt-lg-3">
                    <button class="boton inscribete m-0">¡INSCRÍBETE!</button>
                </div>
            </div>
            <div>
                <app-planes/>                  
            </div>
            <div class="mas-info">                
                <h1>¡Únete a nuestro gym selecciona tu Plan!</h1>
                <button class="boton">MÁS INFORMACIÓN</button>
            </div>
        </div>
      </div>      

      <hr class="separador">

      <div class="row p-0 m-0 div-carrusel">
        <div class="titulo-objeto mt-5 mb-5">
            <h1>Transforma tu Cuerpo</h1>
            <span>Todo lo que necesitas</span>            
        </div>
      </div>
      <app-carrusel></app-carrusel>

      <hr class="separador mt-5">

      <div class="row p-0 m-0 div-gyms pb-3">
        <div class="titulo-objeto mt-5 mb-5">
            <h1>Encuentra tu Gym</h1>
            <span>Más cerca de ti</span>            
        </div>
        <div class="m-0 p-0 fotos mb-5">
            <app-gyms></app-gyms>
        </div>
      </div>

      <hr class="separador">

      <div class="div-video">
        <div class="video">
            <img src="images/video.jpg" alt="Video">
            <img src="images/icon002.png" alt="Video" class="playbtn">
        </div>
        <div class="m-0 p-0 mb-5">
            <app-carrusel-leyenda></app-carrusel-leyenda>
        </div>
      </div>

      <hr class="separador">

      <div class="row p-0 m-0 div-noticias pb-3">
        <div class="titulo-objeto mt-5 mb-5">
            <h1>Noticias Force Gym</h1>
            <span>Blog</span>            
        </div>
        <div class="d-none d-lg-flex">
          <div class="m-0 p-0 mb-5 div-posts" id="pagina-home-lista-posts-ultimos">
            <ng-container *ngFor="let post of posts;">
                <app-post 
                  [pathImg]="post.imgPath" 
                  [fecha]="post.fecha" 
                  [tituloPost]="post.titulo" 
                  [postId]="post.id">
                </app-post>
              </ng-container>              
        </div>
        </div>
        
        <div class="d-flex d-lg-none justify-content-center">
          <div id="postCarouselHome" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <ng-container *ngFor="let post of posts; let i = index">
                  <div class="carousel-item" [ngClass]="{ 'active': i === 0 }">
                    <div class="wrap-post-item">
                        <app-post 
                        [pathImg]="post.imgPath" 
                        [fecha]="post.fecha" 
                        [tituloPost]="post.titulo" 
                        [postId]="post.id">
                      </app-post>
                    </div>
                  </div>
                </ng-container>              
            
              <!-- Controles del Carousel -->
              <button class="carousel-control-prev" type="button" data-bs-target="#postCarouselHome" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#postCarouselHome" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>
      </div>
      </div>

      <hr class="separador">
      
      <app-footer></app-footer>
    </div>
  </div>