<div class="container-fluid p-0 m-0">
    <div class="col p-0 m-0">
      <div class="row p-0 m-0 div-planes">
        <div class="padding-pagina">
            <div class="px-5">
                <div class="titulo-frase">
                    <h1>
                        "TRANSFORMA TU VIDA,<br>
                        UN PASO A LA VEZ:<br>
                        ¡COMIENZA TU VIAJE<br>
                        FITNESS HOY!"
                    </h1>
                </div>
                <div class="pt-3">
                    <button class="boton inscribete m-0">¡INSCRÍBETE!</button>
                </div>
            </div>
            <div>
                <app-planes/>                  
            </div>
            <div class="mas-info">                
                <h1>¡Únete a nuestro gym selecciona tu Plan!</h1>
                <button class="boton">MÁS INFORMACIÓN</button>
            </div>
        </div>
      </div>      

      <hr class="separador">

      <div class="row p-0 m-0 div-carrusel">
        <div class="titulo-objeto mt-5 mb-5">
            <h1>Transforma tu Cuerpo</h1>
            <span>Todo lo que necesitas</span>            
        </div>
        <div class="m-0 p-0 fotos mb-5">
            <app-carrusel></app-carrusel>
        </div>        
      </div>

      <hr class="separador mt-5">

      <div class="row p-0 m-0 div-gyms pb-3">
        <div class="titulo-objeto mt-5 mb-5">
            <h1>Encuentra tu Gym</h1>
            <span>Más cerca de ti</span>            
        </div>
        <div class="m-0 p-0 fotos mb-5">
            <app-gyms></app-gyms>
        </div>
      </div>

      <hr class="separador">

      <div class="div-video">
        <div class="video">
            <img src="images/video.jpg" alt="Video">
            <img src="images/icon002.png" alt="Video" class="playbtn">
        </div>
        <div class="m-0 p-0 mb-5">
            <app-carrusel-leyenda></app-carrusel-leyenda>
        </div>
      </div>

      <hr class="separador">

      <div class="row p-0 m-0 div-noticias pb-3">
        <div class="titulo-objeto mt-5 mb-5">
            <h1>Noticias Force Gym</h1>
            <span>Blog</span>            
        </div>
        <div class="m-0 p-0 mb-5 div-posts">
            <app-post [pathImg]="'images/post01.jpg'" [fecha]="'20/08/2024'" [tituloPost]="'Entrenamiento a diario'"/>
            <app-post [pathImg]="'images/post01.jpg'" [fecha]="'15/07/2024'" [tituloPost]="'Vida Saludable'"/>
            <app-post [pathImg]="'images/post01.jpg'" [fecha]="'09/06/2024'" [tituloPost]="'Cardio y sus beneficios'"/>
        </div>
      </div>
    </div>
  </div>