.div-planes {
    background-color: var(--color-ligero);
    background-image: url("/images/001.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 780px;
}

.padding-pagina {
    padding: 0 5rem;
}

.titulo-frase {
    padding-top: 16rem;

    h1 {
        color: white;
        font-weight: 600;
    }
}



.inscribete {
    border: none;    
    padding: 10px 30px;
    background-color: var(--color-gris);
    font-size: 16px;
    font-weight: 600;
}

.mas-info{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    h1{
        font-weight: 600;
        font-size: 40px;
    }
    button{
        font-size: 20px;
        padding: 8px 40px;
    }
}

.carrusel{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: scroll;

}


.carrusel-item {
    flex: 1 0 auto;
    margin: 0 50px;
    height: 50vh;
    width: 50vw;
    position: relative;
    overflow: hidden;
}
.carrusel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor */
    object-position: center; /* Centra la imagen */
}

.carrusel-caption {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 40px;
    color: white;
    font-weight: 100;
    font-style: italic;
    background-color: var(--color-gris);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 32px;
    text-transform: uppercase;
}
@media (max-width: 1400px) {
    .padding-pagina {
        padding: 0 3rem;
    }
    .titulo-frase {
        padding-top: 13rem;
    }
}

@media (max-width: 1000px) {
    .padding-pagina {
        padding: 0 2rem;
    }
    .titulo-frase {
        padding-top: 8rem;
    }
}

@media (max-width: 700px) {
    .padding-pagina {
        padding: 0 1rem;
    }
    .titulo-frase {
        padding-top: 5rem;
    }
}
