.div-planes {
    background-color: var(--color-ligero);
    background-image: url("/images/001.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 780px;
}

.padding-pagina {
    padding: 0 5rem;
}

.titulo-frase {
    padding-top: 16rem;

    h1 {
        color: white;
        font-weight: 600;
    }
}



.inscribete {
    border: none;    
    padding: 10px 30px;
    background-color: var(--color-gris);
    font-size: 16px;
    font-weight: 600;
}

.mas-info{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    h1{
        font-weight: 600;
        font-size: 40px;
    }
    button{
        font-size: 20px;
        padding: 8px 40px;
    }
}

.fotos{
    padding: 0 12rem !important;
}
.div-gyms{
    background-color: var(--color-ligero);
}

.video{
    position: relative; 
    display: inline-block;    
}


.playbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    align-items: center;
    text-align: center;
    display: flex;
    z-index: 1;
}

.div-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 3rem;
    padding: 0 10rem !important;
    padding-bottom: 3rem ;
    justify-items: center;
}

@media (max-width: 1400px) {
    .padding-pagina {
        padding: 0 3rem;
    }
    .titulo-frase {
        padding-top: 13rem;
    }
    .fotos{
        padding: 0 6rem !important;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    .padding-pagina {
        padding: 0 2rem;
    }
    .titulo-frase {
        padding-top: 8rem;
    }
    .fotos{
        padding: 0 4rem !important;
    }
    .div-posts{
        padding: 0 8rem !important;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .padding-pagina {
        padding: 0 1rem;
    }
    .titulo-frase {
        padding-top: 5rem;
        h1 {
            font-size: 20px;
        }
    }
    .fotos{
        padding: 0 0rem !important;
    }
    .div-posts{
        padding: 0 2rem !important;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 480px) {
    .padding-pagina {
        padding: 0 1rem;
    }
    .titulo-frase {
        padding-top: 3rem;
    }
    .fotos{
        padding: 0 0rem !important;
    }
    .div-posts{
        padding: 0 10px !important;
        grid-template-columns: repeat(1, 1fr);
    }
    ::ng-deep #pagina-home-lista-posts-ultimos .post{
        width: 320px !important;
    }
}
