<app-loading *ngIf="loading"/>
<div class="container-fluid overflow-x-hidden">
    <div class="row altura-min-100">
        <div class="col-7 d-none d-md-block pad-0 div-imagen-lateral">
            <img src="images/008.jpg" alt="Login">
        </div>
        <div class="col-12 col-md-5 pad-0 div-form">
            <div class="mt-3 d-flex justify-content-center">
                <img src="images/LOGO_NEGRO.png" alt="Logo" class="ps-0 ps-lg-5 logo">
            </div>
            <div class="titulo-objeto mb-5 mt-5">
                <h1>Inicia Sesión</h1>
                <span>INGRESAR</span>            
            </div>
            <form [formGroup]="formulario" (ngSubmit)="enviarForm()">
                <div class="formulario">
                    <div class="row">
                        <div class="col pad-0">
                            <div class="input-formulatio input-icono">
                                <i class="bi bi-envelope-fill"></i>
                                <input type="text" placeholder="Email" formControlName="username">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <div class="col pad-0">
                            <div class="input-formulatio input-icono">
                                <i class="bi bi-lock-fill"></i>
                                <input type="password" placeholder="Contraseña" formControlName="password">
                            </div>
                        </div>
                    </div>                
                    <div class="row d-flex justify-content-between mb-0">
                        <div class="col pad-0">
                            <div class="d-flex flex-row remember">
                                <input type="checkbox" formControlName="remember">
                                <span id="remember">Remember me</span>
                            </div>                        
                        </div>
                        <div class="col d-flex justify-content-end pad-0 forget">
                            <div class="">
                                <a>Forget Password?</a>
                            </div>                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pad-0 div-btnenviar">
                            <button class="boton" [disabled]="!formulario.valid || loading" style="font-size: 20px;">Iniciar Sesión</button>
                        </div>                    
                        <div class="col-12 d-flex justify-content-end">
                            <a routerLink="/auth/register">
                                <span class="text-subrayado">REGÍSTRATE</span>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>