<div id="carouselLeyendaAutoplaying" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item">
            <div class="container m-o p-0">
                <div class="row">
                    <div class="col-8">
                        <h2 class="parrafo">
                            Me encanta entrenar aquí! El ambiente es súper motivador y los entrenadores siempre están pendientes
                             de que hagas los ejercicios correctamente. 💯 Recomendado!
                        </h2>
                        <span class="nota">
                            Karla Vera
                        </span>
                    </div>
                    <div class="col-4 cita">
                        <img src="images/002.jpg" alt="Entrenamiento" class="foto-cita">
                    </div>
                </div>

            </div>
        </div>
        <div class="carousel-item">
            <div class="container m-o p-0">
                <div class="row">
                    <div class="col-8">
                        <h2 class="parrafo">
                            Force Gym tiene las mejores máquinas y clases grupales que me han ayudado a alcanzar mis metas. 
                            🏋️‍♀️💥 ¡Sin duda, el mejor lugar para entrenar!
                        </h2>
                        <span class="nota">
                            Braulio Candel
                        </span>
                    </div>
                    <div class="col-4 cita">
                        <img src="images/008.jpg" alt="Entrenamiento" class="foto-cita">
                    </div>
                </div>

            </div>
        </div>
        <div class="carousel-item active">
            <div class="container m-o p-0">
                <div class="row">
                    <div class="col-8">
                        <h2 class="parrafo">
                            Me encanta entrenar aquí! El ambiente es súper motivador y los entrenadores siempre están pendientes
                             de que hagas los ejercicios correctamente. 💯 Recomendado!
                        </h2>
                        <span class="nota">
                            Karla Vera
                        </span>
                    </div>
                    <div class="col-4 cita">
                        <img src="images/002.jpg" alt="Entrenamiento" class="foto-cita">
                    </div>
                </div>

            </div>
        </div>
        <div class="carousel-item">
            <div class="container m-o p-0">
                <div class="row">
                    <div class="col-8">
                        <h2 class="parrafo">
                            Force Gym tiene las mejores máquinas y clases grupales que me han ayudado a alcanzar mis metas. 
                            🏋️‍♀️💥 ¡Sin duda, el mejor lugar para entrenar!
                        </h2>
                        <span class="nota">
                            Braulio Candel
                        </span>
                    </div>
                    <div class="col-4 cita">
                        <img src="images/008.jpg" alt="Entrenamiento" class="foto-cita">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLeyendaAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLeyendaAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>