.lista-gymnasios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 3rem;
    height: 300px;
    justify-items: center;
}
.gymnasio{
    width: 400px;
}
.imagen-gym {
    position: relative; 
    display: inline-block;
}

.imagen-gym img {
    width: 100%;
    display: block;
}

.gym-tarjeta {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 75%;
    height: auto;
    padding: 20px 20px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.gym-tarjeta img {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gym-tarjeta h3{
    font-size: 20px;
    font-weight: bold;    
    margin-bottom: 10px;
}

@media (max-width: 1400px) {
    .lista-gymnasios {
      grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1200px) {
    .lista-gymnasios {
      height: 38rem;
      grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 800px) {
    .lista-gymnasios {
      height: 58rem;
      grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 480px) {
    .lista-gymnasios {
      height: 58rem;
      grid-template-columns: repeat(1, 1fr);
    }
    .gymnasio{
        width: 300px;
    }
}