<div class="row g-0 d-flex justify-content-center g-5">
    <div class="col-6 col-lg-12 gymnasio">
        <div class="imagen-gym">
            <img src="images/gym01.png" alt="Gymnasio">
            <div class="gym-tarjeta">
                <img src="images/icon001.png" alt="Gymnasio">
                <h3>Bamboo Plaza - Vía la costa</h3>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-12 gymnasio">
        <div class="imagen-gym">
            <img src="images/gym02.png" alt="Gymnasio">
            <div class="gym-tarjeta">
                <img src="images/icon001.png" alt="Gymnasio">
                <h3>Urdesa</h3>
            </div>
        </div>
    </div>
</div>
