<div class="lista-gymnasios">
    <div class="gymnasio">
        <div class="imagen-gym">
            <img src="images/gym01.png" alt="Gymnasio">
            <div class="gym-tarjeta">
                <img src="images/icon001.png" alt="Gymnasio">
                <h3>ALBORADA</h3>
            </div>
        </div>
    </div>
    <div class="gymnasio">
        <div class="imagen-gym">
            <img src="images/gym02.png" alt="Gymnasio">
            <div class="gym-tarjeta">
                <img src="images/icon001.png" alt="Gymnasio">
                <h3>CENTRO</h3>
            </div>
        </div>
    </div>
    <div class="gymnasio">
        <div class="imagen-gym">
            <img src="images/gym03.png" alt="Gymnasio">
            <div class="gym-tarjeta">
                <img src="images/icon001.png" alt="Gymnasio">
                <h3>SUR</h3>
            </div>
        </div>
    </div>
</div>
