<div class="div-tabla">
    <table class="tabla-horario">
        <thead>
            <tr>
                <th class="celda-invicible">Hora</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>07:00 - 08:00</td>
                <td>CROSS/ FUNCIONAL TRAINNING <br>(PROFESOR)</td>
                <td>STEPBOXING <br>(PROFESOR)</td>
                <td>CROSS/ FUNCIONAL TRAINNING <br>(PROFESOR)</td>
                <td>STEPBOXING <br>(PROFESOR)</td>
                <td>BAILOTERAPIA <br>(PROFESOR)</td>
            </tr>
            <tr>
                <td>08:00 - 09:00</td>
                <td>BAILOTERAPIA <br>(PROFESOR)</td>
                <td>CROSS/ FUNCIONAL TRAINNING <br>(PROFESOR)</td>
                <td>BAILOTERAPIA <br>(PROFESOR)</td>
                <td>CROSS/ FUNCIONAL TRAINNING <br>(PROFESOR)</td>
                <td>STEPBOXING <br>(PROFESOR)</td>
            </tr>
            <tr>
                <td>09:00 - 10:00</td>
                <td>STEPBOXING <br>(PROFESOR)</td>
                <td>BAILOTERAPIA <br>(PROFESOR)</td>
                <td>CROSS/ FUNCIONAL TRAINNING <br>(PROFESOR)</td>
                <td>STEPBOXING <br>(PROFESOR)</td>
                <td>CROSS/ FUNCIONAL TRAINNING <br>(PROFESOR)</td>
            </tr>
            <tr>
                <td>10:00 - 11:00</td>
                <td>STEPBOXING <br>(PROFESOR)</td>
                <td>BAILOTERAPIA <br>(PROFESOR)</td>
                <td>STEPBOXING <br>(PROFESOR)</td>
                <td>BAILOTERAPIA <br>(PROFESOR)</td>
                <td>STEPBOXING <br>(PROFESOR)</td>
            </tr>
            <tr>
                <td>11:00 - 12:00</td>
                <td>CROSS/ FUNCIONAL TRAINNING <br>(PROFESOR)</td>
                <td>CROSS/ FUNCIONAL TRAINNING <br>(PROFESOR)</td>
                <td>STEPBOXING <br>(PROFESOR)</td>
                <td>BAILOTERAPIA <br>(PROFESOR)</td>
                <td>CROSS/ FUNCIONAL TRAINNING <br>(PROFESOR)</td>
            </tr>
        </tbody>
    </table>
</div>