<div class="container-fluid">
    <div class="row altura-min-100">
        <div class="col-12 col-xl-5 div-form">
            <div class="mt-3 d-flex justify-content-center">
                <img src="images/LOGO_NEGRO.png" alt="Logo">
            </div>
            <div class="titulo-register">
                <h1>SE PARTE DE NUESTRO <span style="color: var(--color-azul);">TEAM</span></h1>
            </div>
            <div class="nota-register">
                <span>Conoce los beneficios que brindamos a todos nuestros clientes.</span>
            </div>
            <div class="col-12 div-btnenviar">
                <button class="boton" routerLink="/auth/register" style="font-size: 20px;">REGÍSTRATE</button>
            </div>                    
            <div class="div-cuenta">
                <span class="ingresa-registrate">¿YA TIENES CUENTA?</span>
                <a routerLink="/auth/login" class="pt-2">
                    <span class="text-subrayado">  Inicia Sesión  </span>
                </a>
            </div>
        </div>
        <div class="col-7 d-none d-xl-block p-0 div-imagen-lateral">
            <a routerLink="/auth/register">
                <img src="images/FORCE01.jpg" alt="Login">
            </a>            
        </div>
    </div>
</div>