

.carrusel-item {
    height: 200px;
    width: 200px;

}
.carrusel-item img{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    object-position: center;
}

.carrusel-caption {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 40px;
    color: white;
    font-weight: 100;
    font-style: italic;
    background-color: var(--color-gris);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 32px;
    text-transform: uppercase;
}