<div class="d-none d-lg-flex tarjetas ">
    <ng-container *ngTemplateOutlet="planUno"></ng-container>
    <ng-container *ngTemplateOutlet="planDos"></ng-container>
    <ng-container *ngTemplateOutlet="planTres"></ng-container>
    <ng-container *ngTemplateOutlet="planCuatro"></ng-container>
</div>

<div class="d-block d-lg-none">
    <div id="planCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          
          <!-- Item 1 -->
          <div class="carousel-item active">
            <div class="wrap-plan-item">
                <ng-container *ngTemplateOutlet="planUno"></ng-container>
            </div>
          </div>
      
          <!-- Item 2 -->
          <div class="carousel-item">
            <div class="wrap-plan-item">
                <ng-container *ngTemplateOutlet="planDos"></ng-container>
            </div>
          </div>
      
          <!-- Item 3 -->
          <div class="carousel-item">
            <div class="wrap-plan-item">
                <ng-container *ngTemplateOutlet="planTres"></ng-container>        
            </div>
          </div>
      
          <!-- Item 4 -->
          <div class="carousel-item">
            <div class="wrap-plan-item">
                <ng-container *ngTemplateOutlet="planCuatro"></ng-container>
            </div>
          </div>
        </div>
      
        <!-- Controles del Carousel -->
        <button class="carousel-control-prev" type="button" data-bs-target="#planCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#planCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
</div>

<ng-template #planUno>
    <div class="plan-card">
        <div class="espacio"></div>
        <div class="px-5 contenido-card">
            <div class="id-plan"><span>1</span></div>
            <div class="valor pt-4">
                <div class="iva pe-3">+IVA</div>
                <div class="precio">$26.87</div>
                <div class="detalle-precio">
                    <div>Débito</div>
                    <div>Automático mensual</div>
                </div>
            </div>            
            <h3 class="plan-titulo">PLAN PREMIUM</h3>
            <h4 class="plan-subtitulo">Crédito o Débito</h4>
            <ul class="beneficios">
              <li>Acceso a 1 gimnasio</li>
              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
              <li>Acceso a todas las clases y áreas</li>
              <li class="li-horario">Horario libre de Ingreso</li>
              <li>Elimina tu Plan cuando desees</li>
              <li>Parqueo GRATIS</li>
            </ul>
            @if(booComprarMembresia){
                <button class="boton btnInscribete" (click)="seleccionarPlan(1)">SELECCIONAR PLAN</button>
            }@else {
                <a routerLink="/auth/register" style="align-self: center;">
                    <button class="boton btnInscribete">¡INSCRÍBETE!</button>
                </a>
            }
        </div>
    </div>
</ng-template>
<ng-template #planDos>
    <div class="plan-card">
        <div class="espacio"></div>
        <div class="px-5 contenido-card">
            <div class="id-plan"><span>2</span></div>
            <div class="valor pt-4">
                <div class="iva pe-3">+IVA</div>
                <div class="precio">$20,87</div>
                <div class="detalle-precio">
                    <div>Débito</div>
                    <div>Automático mensual</div>
                </div>
            </div>            
            <h3 class="plan-titulo">PLAN FORCE</h3>
            <h4 class="plan-subtitulo">Crédito o Débito</h4>
            <ul class="beneficios">
              <li>Acceso a 1 gimnasio</li>
              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
              <li>Elimina tu Plan cuando desees</li>
              <li>Acceso a todas las clases y áreas</li>
              <li class="li-horario">Horario libre de Ingreso</li>              
              <li>Parqueo GRATIS</li>
            </ul>
            @if(booComprarMembresia){
                <button class="boton btnInscribete" (click)="seleccionarPlan(2)">SELECCIONAR PLAN</button>
            }@else {
                <a routerLink="/auth/register" style="align-self: center;">
                    <button class="boton btnInscribete">¡INSCRÍBETE!</button>
                </a>
            }
        </div>
    </div>
</ng-template>
<ng-template #planTres>
    <div class="plan-card">
        <div class="espacio"></div>
        <div class="px-5 contenido-card basico">
            <div class="id-plan"><span>3</span></div>
            <div class="valor pt-4">
                <div class="iva pe-3">+IVA</div>
                <div class="precio">$18,26</div>
                <div class="detalle-precio">
                    <div>Débito</div>
                    <div>Automático mensual</div>
                </div>
            </div>            
            <h3 class="plan-titulo">PLAN BÁSICO</h3>
            <h4 class="plan-subtitulo">Crédito o Débito</h4>
            <ul class="beneficios">
              <li>Acceso a 1 gimnasio</li>
              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
              <li>Elimina tu Plan cuando desees</li>
              <li>Acceso a todas las clases y áreas</li>
              <li class="li-horario">Horario de Ingreso <br> 10am - 2pm (fds libre)</li>              
              <li>Parqueo GRATIS</li>
            </ul>
            @if(booComprarMembresia){
                <button class="boton btnInscribete" (click)="seleccionarPlan(3)">SELECCIONAR PLAN</button>
            }@else {
                <a routerLink="/auth/register" style="align-self: center;">
                    <button class="boton btnInscribete">¡INSCRÍBETE!</button>
                </a>
            }
        </div>
    </div>
</ng-template>
<ng-template #planCuatro>
    <div class="plan-card">
        <div class="espacio"></div>
        <div class="px-5 contenido-card estudiantil">
            <div class="id-plan"><span>4</span></div>
            <div class="valor pt-4">
                <div class="iva pe-3">+IVA</div>
                <div class="precio">$15,65</div>
                <div class="detalle-precio">
                    <div>Débito</div>
                    <div>Automático mensual</div>
                </div>
            </div>            
            <h3 class="plan-titulo">PLAN ESTUDIANTIL</h3>
            <h4 class="plan-subtitulo">Crédito o Débito</h4>
            <div class="condiciones">Aplica de 12 a 20 años (Presentando algún pago o matrícula de colegios o universidades)</div>
            <ul class="beneficios">
              <li>Acceso a 1 gimnasio</li>
              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
              <li>Acceso a todas las clases y parqueo GRATIS</li>
              <li>Incluye clases de Gimnasio, Crossfitness</li>
              <li class="li-horario">Horario de ingreso 8am a 4pm (fds horario libre)</li>
              <li>Elimina tu Plan cuando desees</li>
            </ul>
            @if(booComprarMembresia){
                <button class="boton btnInscribete" (click)="seleccionarPlan(4)">SELECCIONAR PLAN</button>
            }@else {
                <a routerLink="/auth/register" style="align-self: center;">
                    <button class="boton btnInscribete">¡INSCRÍBETE!</button>
                </a>
            }
        </div>
    </div>
</ng-template>