<div class="tarjetas">
    <div class="plan-card">
        <div class="espacio"></div>
        <div class="px-5 contenido-card">
            <div class="id-plan"><span>1</span></div>
            <div class="valor pt-4">
                <div class="iva pe-3">+IVA</div>
                <div class="precio">$26.87</div>
                <div class="detalle-precio">
                    <div>Débito</div>
                    <div>Automático mensual</div>
                </div>
            </div>            
            <h3 class="plan-titulo">PLAN PREMIUM</h3>
            <h4 class="plan-subtitulo">Crédito o Débito</h4>
            <ul class="beneficios">
              <li>Acceso a 1 gimnasio</li>
              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
              <li>Acceso a todas las clases y áreas</li>
              <li class="li-horario">Horario libre de Ingreso</li>
              <li>Elimina tu Plan cuando desees</li>
              <li>Parqueo GRATIS</li>
            </ul>
            <button class="boton btnInscribete">¡INSCRÍBETE!</button>
        </div>
    </div>
    <div class="plan-card">
        <div class="espacio"></div>
        <div class="px-5 contenido-card">
            <div class="id-plan"><span>2</span></div>
            <div class="valor pt-4">
                <div class="iva pe-3">+IVA</div>
                <div class="precio">$20,87</div>
                <div class="detalle-precio">
                    <div>Débito</div>
                    <div>Automático mensual</div>
                </div>
            </div>            
            <h3 class="plan-titulo">PLAN FORCE</h3>
            <h4 class="plan-subtitulo">Crédito o Débito</h4>
            <ul class="beneficios">
              <li>Acceso a 1 gimnasio</li>
              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
              <li>Elimina tu Plan cuando desees</li>
              <li>Acceso a todas las clases y áreas</li>
              <li class="li-horario">Horario libre de Ingreso</li>              
              <li>Parqueo GRATIS</li>
            </ul>
            <button class="boton btnInscribete">¡INSCRÍBETE!</button>
        </div>
    </div>
    <div class="plan-card">
        <div class="espacio"></div>
        <div class="px-5 contenido-card basico">
            <div class="id-plan"><span>3</span></div>
            <div class="valor pt-4">
                <div class="iva pe-3">+IVA</div>
                <div class="precio">$18,26</div>
                <div class="detalle-precio">
                    <div>Débito</div>
                    <div>Automático mensual</div>
                </div>
            </div>            
            <h3 class="plan-titulo">PLAN BÁSICO</h3>
            <h4 class="plan-subtitulo">Crédito o Débito</h4>
            <ul class="beneficios">
              <li>Acceso a 1 gimnasio</li>
              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
              <li>Elimina tu Plan cuando desees</li>
              <li>Acceso a todas las clases y áreas</li>
              <li class="li-horario">Horario de Ingreso <br> 10am - 2pm (fds libre)</li>              
              <li>Parqueo GRATIS</li>
            </ul>
            <button class="boton btnInscribete">¡INSCRÍBETE!</button>
        </div>
    </div>
    <div class="plan-card">
        <div class="espacio"></div>
        <div class="px-5 contenido-card estudiantil">
            <div class="id-plan"><span>4</span></div>
            <div class="valor pt-4">
                <div class="iva pe-3">+IVA</div>
                <div class="precio">$15,65</div>
                <div class="detalle-precio">
                    <div>Débito</div>
                    <div>Automático mensual</div>
                </div>
            </div>            
            <h3 class="plan-titulo">PLAN ESTUDIANTIL</h3>
            <h4 class="plan-subtitulo">Crédito o Débito</h4>
            <div class="condiciones">Aplica de 12 a 20 años (Presentando algún pago o matrícula de colegios o universidades)</div>
            <ul class="beneficios">
              <li>Acceso a 1 gimnasio</li>
              <li>Incluye entrenadores, wifi, duchas y casilleros</li>
              <li>Acceso a todas las clases y parqueo GRATIS</li>
              <li>Incluye clases de Gimnasio, Crossfitness</li>
              <li class="li-horario">Horario de ingreso 8am a 4pm (fds horario libre)</li>
              <li>Elimina tu Plan cuando desees</li>
            </ul>
            <button class="boton btnInscribete">¡INSCRÍBETE!</button>
        </div>
    </div>
    
    
</div>