<div class="container-fluid p-0 m-0">
    <div class="col p-0 m-0">
      <div class="div-encabezado">
        <div class="titulo-objeto mb-5">
            <h1>NUESTROS BENEFICIOS</h1>
            <span>DESCUENTOS</span>            
        </div>
      </div>

      <hr class="separador">

      <div class="div-beneficio mt-4">
        <!--  -->
        <div class="container-fluid">
            <div class="col">
                <div class="row div-contenido-patrocinadores">
                    
                        <div class="row">
                            <div class="titulo-objeto-dos">                                
                                <span>Beneficios</span>            
                            </div>
                        </div>
                        <div class="row item-patrocinador">
                            <div class="col-6">
                                <div class="item-imagen-patrocinador">
                                    <img id="hangaroa_logo" src="images/hangaroa_logo.png" alt="HangaroaLogo">
                                </div>                                
                            </div>
                            <div class="col-6">
                                <div class="div-info-beneficios">
                                    <div class="titulo-objeto-tres">
                                        <h1>AGENCIA HANGAROA S.A</h1>
                                        <span>15% DE DESCUENTO EN SESIÓNES DE FOTOS</span>            
                                    </div>                                 
                                    <div class="lista-contactos-beneficios">
                                        <div class="contacto-beneficio">
                                            <div class="imagen-mini-post">
                                                <img src="images/icon005.png" alt="Ubicacion">
                                            </div>
                                            <div>
                                                <span>Urdesa Central, Av. Víctor Emilio Estrada y Las Lomas</span>
                                            </div>
                                        </div>  
                                        <div class="contacto-beneficio">
                                            <div class="imagen-mini-post">
                                                <img src="images/icon006.png" alt="Ubicacion">
                                            </div>
                                            <div>
                                                <span>Lunes a Viernes de 6AM a 8PM</span>
                                            </div>
                                        </div>  
                                        <div class="contacto-beneficio">
                                            <div class="imagen-mini-post">
                                                <img src="images/icon007.png" alt="Ubicacion">
                                            </div>
                                            <div>
                                                <span>+593 99864723</span>
                                            </div>
                                        </div>
                                        <div class="contacto-beneficio">
                                            <div class="imagen-mini-post">
                                                <img src="images/horario.png" alt="Horario">
                                            </div>
                                            <div>
                                                <span>Lunes a Viernes de 6:00 AM a 9:00 PM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="redes">
                                        <div class="d-flex flex-row gap-3">
                                            <a href="https://www.instagram.com/hangaroa_s.a/" target="_blank">
                                                <img src="images/insta2.png" alt="IGlogo" style="width: 50px;">
                                            </a>
                                            <a href="https://www.facebook.com/people/Hangaroa/100089246290406/?locale=es_LA" target="_blank">
                                                <img src="images/fb01.png" alt="FBlogo" style="width: 50px;">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="row item-patrocinador">
                            <div class="col-6">
                                <div class="item-imagen-patrocinador">
                                    <img id="mcdonalds_logo" src="images/mcdonalds_logo.png" alt="McdonaldsLogo">
                                </div>    
                            </div>
                            <div class="col-6">
                                <div class="div-info-beneficios">
                                    <div class="titulo-objeto-tres centro">
                                        <h1>MCDONALS</h1>
                                        <span>10% DE DESCUENTO EN BIG MAC</span>            
                                    </div>                                 
                                    <div class="lista-contactos-beneficios">
                                        <div class="contacto-beneficio">
                                            <div class="imagen-mini-post">
                                                <img src="images/icon005.png" alt="Ubicacion">
                                            </div>
                                            <div>
                                                <span>Lorem ipsum dolor sit amet consectetuer adipiscing</span>
                                            </div>
                                        </div>  <div class="contacto-beneficio">
                                            <div class="imagen-mini-post">
                                                <img src="images/icon006.png" alt="Ubicacion">
                                            </div>
                                            <div>
                                                <span>Lunes a Viernes de 6AM a 8PM</span>
                                            </div>
                                        </div>  <div class="contacto-beneficio">
                                            <div class="imagen-mini-post">
                                                <img src="images/icon007.png" alt="Ubicacion">
                                            </div>
                                            <div>
                                                <span>+593 99864723</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="redes">
                                        <div class="d-flex flex-row gap-3">
                                            <a ><img src="images/insta2.png" alt="IGlogo" style="width: 50px;"></a>
                                            <a ><img src="images/fb01.png" alt="FBlogo" style="width: 50px;"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>      
                        </div>
                
                    
                </div>
            </div>
        </div>
        <!--  -->
      </div>

      <hr class="separador">
      
      <app-footer></app-footer>
    </div>
  </div>