<div>
    <div class="contenido-pago-modal">
        <div class="imagen">
            <img src="images/VISTO.png" alt="IGlogo" class="logo_redes">
        </div>
        <h3 class="pago-titulo mt-3">¡Pago Exitoso!</h3>
        <p class="parrafo-compra mt-3" >
            Gracias por tu compra.<br>
            Tu plan ha sido activado correctamente y ya puedes comenzar a disfrutar de todos sus beneficios.
        </p >
        <button class="boton btnAzul mt-3" (click)="close()">CERRAR</button>
    </div>
</div>