<div class="container-fluid p-0 m-0">
    <div class="col p-0 m-0">
      <div class="div-encabezado">
        <div class="titulo-objeto mb-5">
            <h1>NOTICIAS FORCE GYM</h1>
            <span>BLOG</span>            
        </div>
      </div>
      <hr class="separador">
      <div class="col contenido">
        <div class="row encabezado">
            <span>Publicado {{post.fecha}}</span>
            <h1>{{post.titulo}}</h1>
        </div>
        <div class="row noticias">
            <div class="col-8 col-contenido">
                <div class="filas-contenido">
                    <img [src]="post.imgPath" alt="Post">
                    <div class="autor">
                        <img src="images/avatarBlack.png" alt="Gymnasio" >
                        <span>Publicado {{post.fecha}}</span>
                    </div>
                    <div class="parrafo-especifico-insertar-html" [innerHTML]="safeHtml">

                    </div>
                </div>
            </div>
            <div class="col-4 col-inputs">
                <div class="caja">
                    <div class="input-search">
                        <input type="text" placeholder="Buscar">
                        <button type="submit">
                            <img src="images/search.svg" alt="Buscar">
                        </button>
                    </div>                                       
                </div>
                <div class="caja mt-5">
                    <h3 class="ultimas-noticias">Últimas Noticias</h3>
                    <ng-container *ngFor="let post of ultimosPosts;">
                        <a [routerLink]="['/noticias', post.id]">
                            <div class="mini-post">
                                <div class="imagen-mini-post">
                                    <img [src]="post.imgPath"  alt="Post">
                                </div>
                                <div class="detalles-mini-post">
                                    <h4>{{post.titulo}}</h4>
                                    <p>{{post.fecha}}</p>
                                </div>
                            </div>
                        </a>
                    </ng-container>     
                </div>
            </div>
            
        </div>
      </div>
      <hr class="separador">
      <app-footer></app-footer>
    </div>
  </div>