nav {
    background: #00000036;
    display: static;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.vinculo_navegacion{
    font-size: 14px;
    a{
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }
}

.selected {
    font-weight: bold !important;
    border-bottom: 3.5px solid white;
}
