<nav class="div-principal-header" id="myHeader">
    <div class="container-fluid">
      <div class="row">
        <!-- Logo -->
        <div class="col-4 p-0 ps-0 ps-lg-5">
          <a routerLink="/home">
            <img class="logo-header" src="images/LOGO.png" alt="Logo">
          </a>
        </div>
  
        <!-- Navegación principal -->
        <div class="col-8 p-0 pe-5 gap-4 d-flex justify-content-end align-items-center">
          <div class="d-none d-lg-flex gap-5 pe-3 vinculo_navegacion ">
            <a *ngFor="let enlace of enlaces" 
               routerLink="{{ enlace.path }}" 
               routerLinkActive="selected" 
               [routerLinkActiveOptions]="{exact: enlace.exact || false}">
              <span>{{ enlace.label }}</span>
            </a>
          </div>                
  
          <!-- Avatar y menú desplegable -->
          <div class="d-flex flex-row gap-3">
            @if (!isLogged){
                <a routerLink="/auth/perfil" routerLinkActive="selected">
                    <img src="images/avatar.png" alt="Avatar" style="width: 25px;">
                </a>
            }@else {
                <div class="dropdown">
                    <div id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      <a><img src="images/avatar.png" alt="Avatar" style="width: 25px;"></a>
                    </div>
                    <ul class="dropdown-menu" id="ul-dropdown-menu-header" aria-labelledby="dropdownMenuButton">                     
                      <li *ngFor="let enlace of enlacesAuth">
                        <div class="vinculo_navegacion ">
                            <a class="dropdown-item" 
                               routerLink="{{ enlace.path }}" 
                               routerLinkActive="selected">
                              <span>{{ enlace.label }}</span>
                            </a>
                        </div>
                      </li>
                      <li>
                        <div class="vinculo_navegacion ">
                            <a class="dropdown-item" (click)="loggout()">
                              <span>Cerrar Sesión</span>
                            </a>
                        </div>
                      </li>
                    </ul>
                  </div>
            }
  
            <!-- Menú móvil (dropdown) -->
            <div class="d-flex d-lg-none align-items-center">                        
              <div class="dropdown">
                <div id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <a><img src="images/menu.png" alt="Menu" style="width: 25px;"></a>
                </div>
                <ul class="dropdown-menu" id="ul-dropdown-menu-header" aria-labelledby="dropdownMenuButton">
                  <li *ngFor="let enlace of enlaces">
                    <div class="vinculo_navegacion ">
                        <a class="dropdown-item" 
                           routerLink="{{ enlace.path }}" 
                           routerLinkActive="selected" 
                           [routerLinkActiveOptions]="{exact: enlace.exact || false}">
                          <span>{{ enlace.label }}</span>
                        </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </nav>
  