nav {
    background: #00000036;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.vinculo_navegacion{
    font-size: 14px;
    a{
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }
}

.selected {
    font-weight: bold !important;
    border-bottom: 3.5px solid white;
}

#ul-dropdown-menu-header{
    background-color: var(--color-ligero);
    .vinculo_navegacion{
        a{
            color: var(--color-gris);
            text-shadow: none;
            font-weight: bold;
        }
    }
}