<nav class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 p-0">
                <div class="ps-0 ps-lg-5">
                    <img src="images/LOGO.png" alt="Logo" class="ps-0 ps-lg-5" style="height: 70px; width: auto;">
                </div>
            </div>
            <div class="col-8 p-0 pe-5 gap-4 d-flex justify-content-end align-items-center">
                <div class="vinculo_navegacion d-flex gap-5 pe-3">
                    <a routerLink="/" routerLinkActive="selected" [routerLinkActiveOptions]="{exact: true}">Home</a>
                    <a routerLink="/sede" routerLinkActive="selected">Sede</a>
                    <a routerLink="/membresias" routerLinkActive="selected">Membresias</a>
                    <a routerLink="/noticias" routerLinkActive="selected">Noticias</a>
                    <a routerLink="/contacto" routerLinkActive="selected">Contacto</a>
                </div>                
                <div class="d-flex flex-row gap-3">
                    <img src="images/avatar.png" alt="Avatar" style="width: 25px;">
                    <img src="images/menu.png" alt="Menu" style="width: 25px;">
                </div>
            </div>
        </div>
    </div>
</nav>