<div style="background-color: var(--color-ligero)">
  <div class="pt-3 pt-lg-5" id="stepperPersonalizadoPago">
    <p-steps [model]="items" [activeIndex]="activeIndex"  styleClass="custom-steps"></p-steps>
  </div>

  <div class="mt-3 mt-lg-5">
    <router-outlet></router-outlet>
    <div class="div-encabezado-listo-para-empezar mt-3 mt-lg-5">
      <div class="titulo-objeto mb-5">
          <h1>LISTO PARA EMPEZAR?</h1>
          <span>ES HOY</span>            
      </div>
    </div>
    <hr class="separador">      
    <app-footer></app-footer>
  </div>
</div>