<div class="container-fluid p-0 m-0">
    <div class="col p-0 m-0">
      <div class="div-encabezado">
        <div class="titulo-objeto mb-5">
            <h1>BUSCA TU PLAN PERFECTO</h1>
            <span>PLANES</span>            
        </div>
      </div>

      <hr class="separador">

      <div class="div-planes">
       <div class="encabezado-planes">
            <div class="mt-2">
                <span class="raya">TABLA DE PRECIOS </span>
            </div>
            <div class="mt-2">
                <span class="titulo-planes">PLANES</span>
            </div>
       </div>
        <div class="padding-pagina">
            <app-planes/>
          </div>
      </div>
      
      <div class="div-encabezado-listo-para-empezar">
        <div class="titulo-objeto mb-5">
            <h1>LISTO PARA EMPEZAR?</h1>
            <span>ES HOY</span>            
        </div>
      </div>
      <hr class="separador">
      
      <app-footer></app-footer>
    </div>
  </div>